<%- include('../partials/head') %>

<body class="bg-gray-100 font-sans">
  <%- include('../partials/nav') %>

  <!-- Main Content -->
  <main class="pt-28 px-4 "> <!-- padding-top to avoid navbar overlap -->
    <div class="max-w-3xl mx-auto bg-white p-8 rounded-3xl shadow-xl">
      


      <!-- Heading inside form card -->
      <h1 class="text-3xl font-bold mb-6 text-center text-purple-700">
        <%= isEdit ? "Edit Event: " + event.name : "Add New Event" %></h1>

      <form action="<%= isEdit ? ('/admin/edit-event/' + event._id) : '/admin/add-event' %>"  method="POST" enctype="multipart/form-data" class="space-y-6">

        <!-- Event Name -->
        <div>
          <label class="block mb-1 font-semibold">Event Name</label>
          <input type="text" name="name" placeholder="Enter event name" value="<%=(isEdit) ? event.name : ''%>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm" required>
        </div>

        <!-- Description -->
        <div>
          <label class="block mb-1 font-semibold">Description</label>
          <textarea name="description" placeholder="Enter event description" 
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm"
            rows="4" required><%= isEdit ? event.description : '' %></textarea>
        </div>

        <!-- Category -->
        <div>
          <label class="block mb-1 font-semibold">Category</label>
          <select name="category"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm" required>
            <option value="">Select Category</option>
            <option value="Workshop" <%= isEdit && event.category === 'Workshop' ? 'selected' : '' %>>Workshop</option>
            <option value="Seminar" <%= isEdit && event.category === 'Seminar' ? 'selected' : '' %>>Seminar</option>
            <option value="Hackathon" <%= isEdit && event.category === 'Hackathon' ? 'selected' : '' %>>Hackathon</option>
            <option value="Cultural" <%= isEdit && event.category === 'Cultural' ? 'selected' : '' %>>Cultural</option>
            <option value="Sports" <%= isEdit && event.category === 'Sports' ? 'selected' : '' %>>Sports</option>
            <option value="Fest" <%= isEdit && event.category === 'Fest' ? 'selected' : '' %>>Fest</option>
            <option value="Tech" <%= isEdit && event.category === 'Tech' ? 'selected' : '' %>>Tech</option>
            <option value="Finance" <%= isEdit && event.category === 'Finance' ? 'selected' : '' %>>Finance</option>
            <option value="Fashion" <%= isEdit && event.category === 'Fashion' ? 'selected' : '' %>>Fashion</option>
            <option value="Mass Media" <%= isEdit && event.category === 'Mass Media' ? 'selected' : '' %>>Mass Media</option>
          </select>
        </div>

        <!-- Date -->
        <div>
          <label class="block mb-1 font-semibold">Date & Time</label>
          <input type="datetime-local" name="startDate" value="<%= isEdit && event.startDate ? event.startDate.toISOString().slice(0,16) : '' %>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm" required>
        </div>

        <!-- Venue -->
        <div>
          <label class="block mb-1 font-semibold">Venue</label>
          <input type="text" name="venue" placeholder="Enter venue/location" value="<%=(isEdit) ? event.venue : ''%>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm" required>
        </div>

        <!-- Organizer -->
        <div>
          <label class="block mb-1 font-semibold">Organizer</label>
          <input type="text" name="organizer" placeholder="Enter organizer/club name" value="<%=(isEdit) ? event.organizer : ''%>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm" required>
        </div>

        <!-- Contact -->
        <div>
          <label class="block mb-1 font-semibold">Organizer Contact Number</label>
          <input type="text" name="organizerContactNumber" placeholder="Enter contact number" value="<%=(isEdit) ? event.OrganizerContactNumber : ''%>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm">
        </div>

        <!-- Max Participants -->
        <div>
          <label class="block mb-1 font-semibold">Max Participants</label>
          <input type="number" name="maxParticipants" placeholder="Enter max participants" value="<%=(isEdit) ? event.maxParticipants : ''%>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm">
        </div>

        <!-- Registration Deadline -->
        <div>
          <label class="block mb-1 font-semibold">Registration Deadline</label>
          <input type="date" name="registrationDeadline"
          value="<%= isEdit && event.registrationDeadline ? event.registrationDeadline.toISOString().split('T')[0] : '' %>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm">
        </div>

        <!-- Poster -->
        <div>
          <label class="block mb-1 font-semibold">Event Poster / Banner</label>
          <input type="file" id="img" name="img" accept="image/jpg, image/jpeg, image/png"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm">
        </div>

        <!-- Documents -->
        <div>
          <label class="block mb-1 font-semibold">Supporting Documents</label>
          <input type="file" id="docs" name="docs" accept="application/pdf"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm">
        </div>

        <!-- Fee -->
        <div>
          <label class="block mb-1 font-semibold">Entry Fee (Optional)</label>
          <input type="number" name="fee" placeholder="Enter fee amount (0 for free)"  value="<%=(isEdit) ? event.fee : ''%>"
            class="w-full border border-gray-300 rounded px-3 py-2 
            focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-sm">
        </div>

        <!-- Submit -->
        <div class="text-center">
          <button type="submit"
            class="bg-purple-600 text-white px-6 py-2 rounded 
            hover:bg-purple-700 transition">
            <%=(isEdit) ? 'Edit Event' : 'Add Event' %>
          </button>
        </div>

      </form>
    </div>
  </main>
</body>
</html>
